<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
<strong>Details</strong> <br>
<%= @meeting.event %>
</p>

<% if current_user %>
<%= link_to 'Edit', edit_meeting_path(@meeting), class: "btn btn-info" %> 
<%= link_to 'Back', meetings_path, class: "btn btn-info" %>
<%end%>
